---
- name: Add the agents
  hosts: agents
  become: yes
  vars_files:
    - ../../group_vars/agents.yml
    - ../../secrets_{{ env }}.yml
  tasks:
    - name: Debug variables
      debug:
        msg:
          - "Server address: {{ private_ips.mainServer }}"
    - name: Start and init the agents
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v1.30.5+k3s1 sh -s - agent \
          --server https://{{ private_ips.mainServer }}:6443 \
          --node-name="$(hostname -f)" \
          --flannel-iface=enp7s0 \
          --kubelet-arg="cloud-provider=external" \
          --token={{ cluster_token }}
