---
- name: Configure MySQL cluster
  hosts: server0
  become: yes
  vars_files:
    - ../../secrets_{{ env }}.yml
  tasks:
    - name: Create ArgoCD namespace
      shell: |
        kubectl create namespace argocd
      ignore_errors: true
    - name: Install ArgoCD
      shell: |
        kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
